.card {

  & + .card {
    margin-top: 2rem;
  }

  .title {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--white-heading);
    text-align: justify;
  }

  .subtitle {
    margin-bottom: 0.75rem;
    text-align: justify;
  }
}

.loadPosts {
  margin-top: 2rem;
  border: none;
  background: transparent;
  color: var(--pink-highlight);
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;

  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.8);
  }
}
