.banner {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 5rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  color: var(--white-heading);
}

.content {
  text-align: justify;
  margin-bottom: 1.5rem;

  h2 {
    color: var(--white-heading);
    font-size: 2rem;
    font-weight: 700;
    margin: 4rem 0;
  }

  p {
    line-height: 1.5rem;
  }
}

.postsNav {
  border-top: 1px solid var(--gray-300-info);
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  .nextPost p {
    text-align: right;
  }

  h3 {
    margin-bottom: 0.5rem;
    font-weight: 400;
  }

  p {
    color: var(--pink-highlight);
  }

  transition: filter 0.2s ease;

  div:hover {
    filter: brightness(0.8);
  }
}
